@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  user-select: none;

}

html, body {
  width: 100%;
  overflow-x: hidden;
  padding-top: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.Header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0px;
  padding: 0 15px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(92, 92, 92);
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Title {
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: transparent;
  font: bold clamp(18px, 5vw, 25px) Arial, sans-serif;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}

.Title:hover {
  color: rgb(186, 186, 186);
  cursor: pointer;
}

.Title:active {
  color: rgb(92, 92, 92);
}

.Icon {
  margin-top: -10;
}

.Icon:hover {
  color: rgb(186, 186, 186);
  cursor: pointer;

}

.Header-Items {
  display: flex;
  gap: 8px;
  margin-left: auto;
  background: transparent;
  flex-wrap: wrap;
  
}

.Header-Item {
  font: bold clamp(14px, 3vw, 20px) Arial, sans-serif;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  margin: auto;
  padding: 8px 12px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: none;
}

.Header_item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 0;
  height: 100px;
  background: var(--accent);
  transition: width 180ms ease;
}

.Header-Item:hover {
  background-color: rgb(35, 35, 35);
  color: rgb(186, 186, 186);
  cursor: pointer;
  border-radius: 30px;
}

.Header-Item:active {
  background-color: rgb(92, 92, 92);
}


.Hero {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 1.5s ease forwards;
  padding: 20px 10px 100px;
  margin:0 auto;
  border-radius: 40px;
  border: 1px solid rgb(92, 92, 92);
}

.Hero-Content {
  text-align: center;
  color: white;
  background-color: transparent;
}

.Hero-Header {
  font: bold clamp(24px, 6vw, 30px) Arial, sans-serif;
  background-color: transparent;
  color: white;
  align-items: top;
}

.Hero-Item {
  font: clamp(14px, 3vw, 20px) Arial, sans-serif;
  background-color: transparent;
  color: white;
  margin: 10px 0;
  padding: 10px 0;
  animation: slideUp 3.5s ease forwards;
}

.Hero-special {
  animation: slideUp 4.5s ease forwards;
  font: clamp(14px, 1vw, 20px) Arial, sans-serif;
}



.About {
  width: min(90vw, 300px);
  height: min(90vh, 300px);
  margin: 250px,100px, 200px;
  padding: 30px;
  border-radius: 40px;
  background-color: rgb(24, 24, 24);
  position: absolute;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 40px;
  color: rgb(186, 186, 186);
  top:85px;
  right: 0px;
}

.About-Content {
  font: clamp(14px, 2.5vw, 5px) Arial, sans-serif;
  background-color: transparent;
  line-height: 1.6;
  animation: slideUp 0.5s ease forwards;
}

.About-Header {
  font: clamp(24px, 6vw, 30px) Arial, sans-serif;
  background-color: transparent;
  margin: 0 0 6px 0;
  color: white;
}


.QRScanner {
  width: min(90vw, 800px);
  min-height: 500px;
  margin: clamp(200px, 8vw, 150px)  auto;
  border-radius: 10%;
  overflow: hidden;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  display: flex;
  position: relative;
}

.QRScanner-Title {
  font: bold clamp(24px, 6vw, 30px) Arial, sans-serif;
  background-color: transparent;
  margin: 30px 30px 0;
  color: white;
}

.QRScanner video {
  width: 37%;
  height: 300px;
  object-fit: cover;
  border-radius: 80%;
  margin: 30px 20px;
}

.QRScanner-Data {
  font: clamp(20px, 3.5vw, 18px) Arial, sans-serif;
  background-color: black;
  color: rgb(186, 186, 186);
  border: 1px solid rgb(92, 92, 92);
  padding: 40px 50px;
  margin: -320px 0px 0px 350px;
  border-radius: 10%;
  width: 400px;
  height: 300px;
}

.Risk-Low {
  color: #22c55e;
}

.Risk-High {
  color: #ef4444;
}

.link {
  font-size: clamp(14px, 3.5vw, 18px);
}

.URLScanner {
  width: min(90vw, 800px);
  min-height: 500px;
  margin: clamp(200px, 8vw, 150px)  auto;
  padding: 30px;
  border-radius: 40px;
  background-color: rgb(24, 24, 24);
  gap: 25px ;
  flex-direction: column;
  display: flex;
}

.URLScanner-Title {
  font: bold clamp(24px, 6vw, 30px) Arial, sans-serif;
  background-color: transparent;
  color: white;
  margin: auto;
}

.URLInput {
  width: 100%;
  max-width: 500px;
  height: 45px;
  font: clamp(14px, 3.5vw, 18px) Arial, sans-serif;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid rgb(92, 92, 92);
  color: white;
  background-color: black;
  margin: auto;
}

.ScanButton {
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  margin: auto;
}

.ScanButton:hover {
  background-color: rgb(60, 60, 60);
}

.ScanButton:active {
  background-color: rgb(92, 92, 92);
}

.URLScanResult {
  font: clamp(14px, 3.5vw, 18px) Arial, sans-serif;
  background-color: black;
  color: rgb(186, 186, 186);
  border: 1px solid rgb(92, 92, 92);
  padding: 20px;
  margin: auto;

  border-radius: 20px;
  width: 60%;
  min-height: 250px;
}

.FileScanner {
  width: min(90vw, 800px);
  min-height: 500px;
  margin: clamp(200px, 8vw, 150px)  auto;
  padding: 30px;
  border-radius: 40px;
  background-color: rgb(24, 24, 24);
  gap: 25px ;
  flex-direction: column;
  display: flex;
}

.FileScanner-Title {
  font: bold clamp(24px, 6vw, 30px) Arial, sans-serif;
  background-color: transparent;
  color: white;
  margin: auto;
}

.FileScannerInput {
  width: 100%;
  max-width: 500px;
  height: 45px;
  font: clamp(14px, 3.5vw, 18px) Arial, sans-serif;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid rgb(92, 92, 92);
  color: white;
  background-color: black;
  margin: auto;
  cursor: pointer;
}

.FileScanButton {
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  margin:  auto;
  top: 0px;
}

.FileScanResult {
  font: clamp(14px, 3.5vw, 18px) Arial, sans-serif;
  background-color: black;
  color: rgb(186, 186, 186);
  border: 1px solid rgb(92, 92, 92);
  padding: 20px;
  margin: auto;
  background-color: black;

  border-radius: 20px;
  width: 60%;
  min-height: 250px;
}

.FileScanButton:hover {
  background-color: rgb(60, 60, 60);
}

.FileScanButton:active {
  background-color: rgb(92, 92, 92);
}

.History {
  width: min(90vw, 800px);
  margin: clamp(200px, 8vw, 150px)  auto;
  padding: 30px;
  border-radius: 40px;
  background-color: rgb(24, 24, 24);
  position: fixed;
  animation: slideUp 0.5s ease forwards;
}


.Footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 540px;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(92, 92, 92);
  flex-wrap: wrap;
  z-index: 1000;
  color: white;
}



@keyframes drawShield {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}

.SafeShield {
  background:transparent;
}

.Shield {
  fill: none;
  stroke: #22c55e;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: drawShield 0.8s ease forwards;
}

.Check {
  fill: none;
  stroke: #22c55e;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: drawCheck 0.4s ease forwards;
  animation-delay: 0.8s;
}

@keyframes drawDangShield {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawDangCheck {
  to {
    stroke-dashoffset: 0;
  }
}

.UnsafeShield {
  background:transparent;
}

.DangShield {
  fill: none;
  stroke: #ef4444;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: drawDangShield 0.8s ease forwards;
}

.Cross1, .Cross2 {
  fill: none;
  stroke: #ef4444;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: drawDangCheck 0.4s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.WarningShield {
  fill: none;
  stroke: #f59e0b;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 20;
  display: block;
  margin: 10px;
  animation: pulse 2s infinite;
}

.History {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  z-index: 2000;
  border: 1px solid rgb(92, 92, 92);
}

.History-Content {
  border-radius: 40px;
  height: 60%;
  color: white;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  
}

.History-Content::-webkit-scrollbar {
  display: none;
}

.History-Title {
  color: white;
  background-color: transparent;
  font: bold 24px Arial, sans-serif;
  padding: 20px 1px;
}

.History-Item {
  margin: 10px 0;
}


@media (min-width: 768px) {
  .Header {
    height: 80px;
    gap: 12px;
    padding: 0 20px;
  }

  .Title {
    font: bold 25px Arial, sans-serif;
  }

  .Header-Items {
    gap: 20px;
  }

  .Header-Item {
    font: 20px Arial, sans-serif;
    padding: 10px 16px;
  }

  .Hero {
    padding: 50px;
    width: 800px;
    border-radius: 100px;
    margin: 60px auto;
  }

  .Hero-About {
    font: 18px Arial, sans-serif;
  }

  .Hero-Header {
    font: bold 30px Arial, sans-serif;
  }
}

@media (max-width: 500px) {
  .Header {
    height: 60px;
    gap: 8px;
    padding: 0 10px;
  }

  .Title {
    font: bold 10px Arial, sans-serif;
  }

  .Header-Items {
    gap: 5px;
  }

  .Header-Item {
    font: 7px Arial, sans-serif;
    padding: 8px 8px;
    margin: 0px 0;
  }

  .QRScanner {
  width: min(90vw, 800px);
  min-height: 500px;
  margin: clamp(200px, 8vw, 150px)  auto;
  border-radius: 10%;
  overflow: hidden;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  display: flex;
  position: relative;
}

.QRScanner video {
  width: 37%;
  height: 200px;
  object-fit: cover;
  border-radius: 80%;
  margin: 30px 20px;
}

.QRScanner-Data {
  font: clamp(2px, 3.5vw, 18px) Arial, sans-serif;
  background-color: black;
  color: rgb(186, 186, 186);
  border: 1px solid rgb(92, 92, 92);
  padding: 40px 40px;
  margin: -200px 0px 0px 165px;
  border-radius: 10%;
  width: 200px;
  height: 300px;
}

.link {
  font-size: clamp(14px, 3.5vw, 18px);
}

.Hero {
    padding: 30px;
    width: 90%;
    border-radius: 50px;
    margin: 40px auto;
}

.Hero-About {
    font: 14px Arial, sans-serif;
}

.Hero-Header {
    font: bold 24px Arial, sans-serif;
}

.About {
  margin: 40px auto;
}


.Footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 50px;
  background-color: rgb(0, 0, 0);
  border-top: 2px solid rgb(92, 92, 92);
  flex-wrap: wrap;
  z-index: 1000;
  color: white;
}

.History {
  position: absolute;
  right: 0;
  width: 350px;
  height: 70vh;
  z-index: 2000;
  border: 1px solid rgb(92, 92, 92);
  margin: 450px 0px;
}

.History-Content {
  border-radius: 40px;
  height: 60%;
  color: white;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  
}

.History-Content::-webkit-scrollbar {
  display: none;
}

.History-Title {
  color: white;
  background-color: transparent;
  font: bold 24px Arial, sans-serif;
  padding: 20px 1px;
}

.History-Item {
  margin: 10px 0;
}



}